@page "/burgers"

@using Friterie.API.Models
@using Friterie.Services
@inject ProductService AlimentServiceView


<PageTitle>Plats</PageTitle>

<h1>Choix des Burgers</h1>

<div class="maitre-detail">

    <!-- SECTION LISTE : plats selon la catégorie -->
    <div class="liste">

            <h3>Burgers</h3>
            <ul class="categories">
            @foreach (var burger_item in _burgers)
                {
                <li class="@(burger_item.Id == _productSelectionne?.Id ? "selected" : "")"
                        @onclick="@(() => ChangerBurger(burger_item))">
                        @burger_item.Name
                    </li>
                }
            </ul>

    </div>

    <!-- SECTION DÉTAIL -->
    <div class="detail">
        <h3>Détail</h3>
        @if (_productSelectionne != null)
        {
            <img src="@_productSelectionne." alt="@_productSelectionne.Name" class="image-detail" />
            <h4>@_productSelectionne.Name</h4>
            <p>@_productSelectionne.Description</p>
            <p><b>Prix :</b> @_productSelectionne.Price.ToString("0.00 €")</p>
        }
        else
        {
            <p><em>Sélectionnez un plat pour voir les détails.</em></p>
        }
    </div>
</div>

@code {

    const int CATEGORIE = 1;

    private List<Product> _burgers = new();
    private Product? _productSelectionne;



    protected override async Task OnInitializedAsync()
    {
        _burgers = await AlimentServiceView.GetProductsAsync(CATEGORIE, 1000, 0);

        //FiltrerCategorie();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (_productSelectionne == null)
            _productSelectionne = _burgers.FirstOrDefault();

        base.OnAfterRender(firstRender);
    }


    private void ChangerBurger(Product product)
    {
        // categorieSelectionnee = categorie;
        _productSelectionne = _burgers.FirstOrDefault(x=>x.Id == product.Id);
        // FiltrerCategorie();
    }

    private void SelectionnerBurger(Product product)
    {
        _productSelectionne = product;
    }


}
