@page "/burgers"
@using Friterie.API.Models
@using Friterie.Services
@inject AlimentService AlimentServiceView


<PageTitle>Plats</PageTitle>

<h1>Choix des Burgers</h1>

<div class="maitre-detail">

    <!-- SECTION LISTE : plats selon la catégorie -->
    <div class="liste">

            <h3>Burgers</h3>
            <ul class="categories">
            @foreach (var burger_item in _burgers)
                {
                <li class="@(burger_item.TArticleId == _articleSelectionne?.TArticleId ? "selected" : "")"
                        @onclick="@(() => ChangerBurger(burger_item))">
                        @burger_item.TArticleNom
                    </li>
                }
            </ul>

    </div>

    <!-- SECTION DÉTAIL -->
    <div class="detail">
        <h3>Détail</h3>
        @if (_articleSelectionne != null)
        {
            <img src="@_articleSelectionne.TArticleURLIMg" alt="@_articleSelectionne.TArticleNom" class="image-detail" />
            <h4>@_articleSelectionne.TArticleNom</h4>
            <p>@_articleSelectionne.TArticleDesc</p>
            <p><b>Prix :</b> @_articleSelectionne.TArticlePrix?.ToString("0.00 €")</p>
        }
        else
        {
            <p><em>Sélectionnez un plat pour voir les détails.</em></p>
        }
    </div>
</div>

@code {

    const int CATEGORIE = 1;

    private List<Article> _burgers = new();
    private Article? _articleSelectionne;



    protected override async Task OnInitializedAsync()
    {
        _burgers = await AlimentServiceView.GetArticlesAsync(CATEGORIE, 1000, 0);

        //FiltrerCategorie();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (_articleSelectionne == null)
            _articleSelectionne = _burgers.FirstOrDefault();

        base.OnAfterRender(firstRender);
    }


    private void ChangerBurger(Article article)
    {
        // categorieSelectionnee = categorie;
        _articleSelectionne = _burgers.FirstOrDefault(x=>x.TArticleId == article.TArticleId);
        // FiltrerCategorie();
    }

    private void SelectionnerBurger(Article article)
    {
        _articleSelectionne = article;
    }


}
