@page "/aliments"
@using Blazorise
@using Blazorise.DataGrid
@using Microsoft.FluentUI.AspNetCore.Components
@using Friterie.API.Models
@using Friterie.Services

@attribute [Authorize(Roles = "Administrator")]
@inject AlimentService AlimentServiceView

<PageTitle>Aliments</PageTitle>

<h1>Choix des aliments</h1>

<div class="container">
    <!-- SECTION MAÎTRE : sélection de catégorie -->


        <h1>Aliments</h1>

        <p>Cette page présente les aliments disponible dans l'application.</p>

        @if (alimentsQuery == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {


            <FluentDataGrid Items="@alimentsQuery" ShowHover="true" TGridItem="Aliment" Pagination="@pagination">
                <SelectColumn TGridItem="Aliment"
                              SelectMode="@Mode"
                              SelectFromEntireRow="true"
                              @bind-SelectedItems="@SelectedItems" />
                <PropertyColumn Width="200px" Property="@(p => p.TAlimentCode)" Title="ID" />
                <PropertyColumn Width="200px" Property="@(p => p.TGroupeAliment.TGroupeNom)" Title="Groupe" Sortable="true" />
                <PropertyColumn Width="200px" Property="@(p => p.TGroupeAliment.TSsGroupeNom)" Title="Sous Groupe" Sortable="true" />
                <PropertyColumn Width="200px" Property="@(p => p.TGroupeAliment.TSsSsGroupeNom)" Title="Sous Sous Groupe" Sortable="true" />
                <PropertyColumn Width="400px" Property="@(p => p.TAlimentNom)" Title="Nom" Sortable="true"/>
                <PropertyColumn Width="auto" Property="@(p => p.TEnergie)"  Title="Energie (kcal/100g)" Sortable="true" />
            </FluentDataGrid>


            <div class="pagination-controls">
            <FluentButton Disabled="@IsFirstPage" OnClick="@PreviousPage">Précédent</FluentButton>
                <span>Page @(pagination.CurrentPageIndex + 1) / @TotalPages</span>
                <FluentButton  Disabled="@IsLastPage" OnClick="@NextPage">Suivant</FluentButton>
            </div>


            <div style="margin-top: 0.5rem;">
                <b>SelectedItems:</b>
                @String.Join("; ", SelectedItems?.Select(p => p.TAlimentNom))
            </div>



        }


</div>

@code {

    private int PageNumber = 1;
    private int PageSize = 30;
    private long TotalCount = 10000;
    private bool IsLoading;
    private int TotalPages => (int)Math.Ceiling((double)TotalCount / pagination.ItemsPerPage);
    private bool IsFirstPage => pagination.CurrentPageIndex == 0;
    private bool IsLastPage => pagination.CurrentPageIndex >= TotalPages - 1;
    private static IQueryable<Aliment> alimentsQuery;
    IEnumerable<Aliment> SelectedItems = new List<Aliment>();
    DataGridSelectMode Mode = DataGridSelectMode.SingleSticky;
    PaginationState pagination = new() ;

    protected override async Task OnInitializedAsync()
    {
        await pagination.SetTotalItemCountAsync((int)TotalCount, false);
        await pagination.SetCurrentPageIndexAsync(0);
        pagination.ItemsPerPage = PageSize;
        TotalCount = await AlimentServiceView.GetCountAlimentsAsync();
        alimentsQuery = await LoadData();
        SelectedItems = alimentsQuery.Where(p => p.Selected);
        pagination.ItemsPerPage = PageSize;

    }

    private async Task<IQueryable<Aliment>> LoadData()
    {
        int offset = await GetOffset();
        int limit = await GetLimit();
        IsLoading = false;
        var list = await AlimentServiceView.GetAlimentsAsync(0, limit, offset);
        var query = list.AsQueryable();
        IsLoading = true;
        return query;
    }

    private async Task<int> GetOffset()
    {
        int offset = 0;
        if (PageNumber > 1)
            offset = PageNumber * PageSize;

        return offset;
    }
    private async Task<int> GetLimit()
    {
        int limit = PageSize;
        if (PageNumber > 1)
            limit = PageSize * (PageNumber + 1);

        return limit;
    }

    private async Task NextPage()
    {

        if (!IsLastPage)
        {
            PageNumber += 1;
            await pagination.SetCurrentPageIndexAsync(PageNumber);
            alimentsQuery = await LoadData();
        }

    }

    private async Task PreviousPage()
    {
        if (!IsFirstPage)
        {
            PageNumber -= 1;
            await pagination.SetCurrentPageIndexAsync(PageNumber);
            alimentsQuery = await LoadData();
        }
    }

}
