@page "/aliments_old"
@using Friterie.API.Models
@using Microsoft.FluentUI.AspNetCore.Components
@using Friterie.Services
@attribute [Authorize(Roles = "Administrator")]
@inject ProductService AlimentServiceView


<PageTitle>Aliments</PageTitle>

<h1>Choix des aliments</h1>

<div class="container">
    <!-- SECTION MAÎTRE : sélection de catégorie -->
    <div >
        <h3>Groupes</h3>
        <ul class="categories">
            @foreach (var cat in categories)
            {
                <li class="@(cat == categorieSelectionnee ? "selected" : "")"
                    @onclick="@(() => ChangerCategorie(cat))">
                    @cat.TGroupeNom
                </li>
            }
        </ul>
    </div>

    <!-- SECTION LISTE : aliments selon la catégorie -->
    <div >
        <h3>Sous-Groupes</h3>

        @if (alimentsFiltres == null)
        {
            <p><em>Chargement...</em></p>
        }
        else if (alimentsFiltres.Count() == 0)
        {
            <p><em>Aucun aliment dans cette catégorie.</em></p>
        }
        else
        {
            <ul class="aliments">
                @foreach (var aliment in alimentsFiltres)
                {
                    <li class="aliment-item @(aliment == alimentSelectionne ? "selected" : "")"
                        @onclick="@(() => SelectionnerAliment(aliment))">
                        @* <img src="@aliment.ImageUrl" alt="@aliment.Nom" /> *@
                        <span>@aliment.TAlimentNom</span>
                    </li>
                }
            </ul>
        }
    </div>

    <!-- SECTION DÉTAIL -->
    <div >
        <h3>Détail</h3>
        @if (alimentSelectionne != null)
        {
            @* <img src="@alimentSelectionne.ImageUrl" alt="@alimentSelectionne.Nom" class="image-detail" /> *@
            <h4>@alimentSelectionne.TAlimentNom</h4>
            <p>@alimentSelectionne.TAlimentCode</p>
            <p><b>Energie :</b> @alimentSelectionne.TEnergie.ToString()</p>
        }
        else
        {
            <p><em>Sélectionnez un aliment pour voir les détails.</em></p>
        }
    </div>
</div>

@code {
    private List<GroupeAliment> categories = new() ;
    private List<GroupeAliment> sscategories = new();
    private List<GroupeAliment> sssscategories = new();

    private GroupeAliment categorieSelectionnee;
    private GroupeAliment sscategorieSelectionnee;
    private GroupeAliment sssscategorieSelectionnee;

    private List<Aliment> touslesaliments;
    private Aliment alimentSelectionne = new Aliment();
    private List<Aliment> alimentsFiltres = new List<Aliment>();

    DataGridSelectMode Mode = DataGridSelectMode.SingleSticky;


    protected override async Task OnInitializedAsync()
    {
        Dictionary<int, Dictionary<int, List<GroupeAliment>>> dico = await AlimentServiceView.GetGroupesAlimentsAsync();
        touslesaliments = await AlimentServiceView.GetAlimentsAsync(0,1000,1000);
        foreach (var itemGroupe in dico.Values)
        {
            foreach (var itemSsGroupe in itemGroupe.Values)
            {
                foreach (var itemSsSsGroupe in itemSsGroupe)
                {
                    sssscategories.Add(itemSsSsGroupe);
                    sssscategorieSelectionnee = itemSsSsGroupe;
                }
                sscategories.Add(sssscategorieSelectionnee);
            }
            categories.Add(sssscategorieSelectionnee);
        }
        categorieSelectionnee = categories.FirstOrDefault();
        FiltrerAliments();
    }

    private void ChangerCategorie(GroupeAliment categorie)
    {
        categorieSelectionnee = categorie;
        alimentSelectionne = null;
        FiltrerAliments();
    }

    private void FiltrerAliments()
    {
        alimentsFiltres = touslesaliments.
        Where(p => p.TGroupeAliment?.TGroupeCode == categorieSelectionnee.TGroupeCode).ToList();
    }

    private void SelectionnerAliment(Aliment aliment)
    {
        alimentSelectionne = aliment;
    }


}
