@page "/order-detail"
@using Friterie.BlazorServer.Services
@using Friterie.Context
@using Friterie.Shared.Models
@using static Friterie.Shared.Models.EnumFriterie
@inject CartServiceView CartService
@inject NavigationManager Navigation
@inject ApiServiceView Api
@inject AuthStateServiceView AuthStateService

@* <h3>Commande @OrderContext.OrderId</h3> *@

@if (CartService.Cart.Items == null)
{
    <p>Chargement...</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Type</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in CartService.Cart.Items)
            {
                <tr>
                    <td>@item.Product.Name</td>
                    <td>@item.Product.TypeProduct.TypeProductNom</td>
                    <td>@item.Product.Price €</td>
                    <td>@item.Quantity</td>
                    <td>@(item.Product.Price* item.Quantity) €</td>
                    <td>
                        <button class="btn btn-danger btn-sm"
                                @onclick="() => Remove(item.Product.Id)">
                            Supprimer
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p>Total : @CartService.Cart.Total €</p>

    <button class="btn btn-success" @onclick='() => Navigation.NavigateTo("/order-confirmation/1")'>
        Payer
    </button>

    <hr />

   @*  <h5>Ajouter un produit</h5>

    <div class="row g-2 align-items-end">
        <div class="col-5">
            <select class="form-select" @bind="SelectedProductId">
                <option value="0">-- Sélectionner un produit --</option>
                @foreach (var p in Products)
                {
                    <option value="@p.Id">@p.Name (@p.Price €)</option>
                }
            </select>
        </div>

        <div class="col-2">
            <input type="number" min="1" class="form-control" @bind="Quantity" />
        </div>

        <div class="col-2">
            <button class="btn btn-primary" @onclick="Add">Ajouter</button>
        </div>
    </div> *@
}


@code {
    [CascadingParameter] public OrderContext OrderContext { get; set; } = default!;

    private int SelectedProductId;


    protected override async Task OnInitializedAsync()
    {
        // Si aucune commande active
        if (OrderContext == null)
        {
            OrderContext = new OrderContext
            {
                UserId = AuthStateService.CurrentUser.UserId,
                OrderId = 0
            };
        }


        if (OrderContext.OrderId == 0)
        {
            var order = await Api.CreateOrderAsync(OrderContext.UserId);

            // OrderContext.OrderId = order.Id;

            // Optionnel : charger le panier depuis l’API
            // CartService.Cart = await Api.GetCartAsync(order.Id);
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        // Charger la commande et les produits via API
        // Order = await Api.GetOrderAsync(OrderContext.UserId);
        // Products = await Api.GetProductsAsync((int)ProductTypeEnum.All, 10000, 0);
    }

    private async Task Add()
    {
        if (SelectedProductId == 0) return;

        // await Api.AddProductInOrderIdAsync(OrderContext.OrderId, SelectedProductId, Quantity);
        // Order = await Api.GetOrderAsync(OrderContext.OrderId);

        SelectedProductId = 0;

    }

    private async Task Remove(int productId)
    {
        // await Api.RemoveProductInOrderAsync(OrderContext.OrderId, productId);
        // Order = await Api.GetOrderAsync(OrderContext.OrderId);

        if (SelectedProductId == 0) return;

        Api.RemoveProductInOrderAsync(0, SelectedProductId);
    }
}
